---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
import { Accordion, AccordionItem } from 'accessible-astro-components'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Technical Skills</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:language-javascript" title=" ES6+ JavaScript">
          Proficient in modern JavaScript (ES6+), including arrow functions, destructuring, promises, and modules. Write
          clean, modular, and maintainable code leveraging latest language features and patterns.
        </Feature>
        <Feature icon="mdi:react" title="React.JS">
          Experienced in building scalable, component-driven UIs with React, using hooks, context API, and state
          management. Optimized performance with lazy loading, code-splitting, and effective use of lifecycle methods.
        </Feature>
        <Feature icon="mdi:nodejs" title="Node.JS">
          Skilled in building RESTful and event-driven backend services using Express and Node.js. Handled middleware,
          authentication, error handling, and asynchronous operations efficiently.
        </Feature>
        <Feature icon="mdi:language-python" title="Python">
          Developed server-side applications and data workflows using Python and frameworks like Django and Flask.
          Utilized Python for scripting, automation, and data processing tasks with clean, readable code.</Feature
        >
        <Feature icon="mdi:api" title="APIs">
          Designed and consumed RESTful APIs with proper versioning, validation, and security practices. Integrated
          third-party APIs and built robust backend services with JSON/XML payload handling.</Feature
        >
        <Feature icon="mdi:database" title="SQL/NoSQL databases">
          Proficient and experience working in MySQL, Oracle, PostgreSQL, MongoDB, AWS RDS, DynamdoDB.
        </Feature>
        <Feature icon="mdi:aws" title="Cloud - AWS, GCP, Azure">
          Hands-on experience deploying and managing applications on AWS, GCP, and Azure cloud platforms. Familiar with
          services like EC2, S3, Cloud Functions, App Engine, and Azure Web Apps for scalable deployments.
        </Feature>
        <Feature icon="mdi:graphql" title="GraphQL">
          Built efficient data-fetching layers using GraphQL with Apollo Client and Server. Defined flexible schemas and
          resolvers to streamline communication between frontends and microservices.
        </Feature>
        <Feature icon="mdi:lighthouse" title="SEO">
          Implemented technical SEO best practices including meta tags, structured data, sitemaps, and accessibility.
          Improved site visibility and performance using SSR, lazy loading, and performance audits (Lighthouse).
        </Feature>
      </div>
    </div>
  </section>
  <!-- Accessible Components Section 
  <ContentMedia imgSrc="/accessible-components.webp">
    <h2>Accessible Components</h2>
    <p class="text-2xl">
      This theme provides plenty of tried and tested Accessible Astro Components. Some are native to this theme and a
      lot of others are integrated using a <a href="https://github.com/markteekman/accessible-astro-components"
        >separate package</a
      >. They'll get you up and running in building an accessible solution for your visitors.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <h2>WCAG 2.2 AA Compliant</h2>
    <p class="text-2xl">
      Using semantic HTML, landmarks, skip links, screen reader friendly content, aria-labels, keyboard accessible
      navigation and components, clear outlines and tab indicators and the right color contrast, you're more certain of
      reaching WCAG AA compliance.
    </p>
  </ContentMedia>
  <!-- End of Accessible Components Section -->

  <section class="my-64">
    <div class="container grid grid-cols-1 gap-12 md:grid-cols-2">
      <div class="flex flex-col items-start gap-4">
        <h2 class="text-6xl">FAQ</h2>
        <p class="text-2xl">Some FAQs answered...</p>
        <a class="button" href="/faq">Have more Qs? Contact me</a>
      </div>
      <div class="space-content">
        <Accordion>
          <AccordionItem name="exclusive" title="Tell us about yourself?">
            <p>
              Experienced Software Engineer with 10+ years in full-stack web application development. Proficient in
              JavaScript (React.js, Node.js), Python (Django, Flask), and AWS. Adept at collaborating with
              cross-functional teams, experienced in Waterfall and Agile methodologies, and familiar with CI/CD and
              DevOps practices. Passionate about optimizing UI/UX through performance enhancements like lazy loading,
              server-side rendering, and PWAs. Enthusiastic, dependable, and always eager to learn and adapt to new
              technologies.
            </p>
          </AccordionItem>
          <AccordionItem name="exclusive" title="Where are you? Are you willing to relocate?" open>
            <p>
              I live in nice little LA suburb called Simi Valley. I prefer working for nearby areas such as Thousand
              Oaks, Westlake Village, Woodland Hills, Northridge, Burbank, Los Angeles, Pasadena. If it's remote, it's
              always preferable! I may consider relocating if the job is in San Fransisco Bay Area.
            </p>
          </AccordionItem>

          <AccordionItem name="exclusive" title="What is your Educational Background?">
            <p>
              I have my Bachelors in Computer Engineering completed from University of Pune, India. Someday I would love
              to do the Masters in CS! I love learning new things and I keep updating my knowledge through books,
              documentation, Youtube videos, Podcasts, Coursera.com, LinkedIn Learning and follow many developers on
              Bluesky to learn from their posts.
            </p>
          </AccordionItem>
          <AccordionItem name="exclusive" title="Thoughts on AI?">
            <p>
              Love it! Been dabbling into GenAI courses and APIs such Gemini and OpenAI. Currently working on a project
              using Gemini API, will write about it in a separate blogpost soon!
            </p>
          </AccordionItem>
          <AccordionItem name="exclusive" title="Tabs or spaces?">
            <p>
              Haha! This is just a placeholder question but important nevertheless. I have noticed I use tabs more, but
              every company has a different rulebook which I follow. :)
            </p>
          </AccordionItem>
        </Accordion>
      </div>
    </div>
  </section>
  <!--
  <section class="mb-32 mt-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Counters</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="520" title="Stars" sub="On GitHub" />
        <Counter count="17" title="Accessible" sub="Components" />
        <Counter count="500" title="Commits" sub="Merged" />
        <Counter count="18+" title="Months" sub="Since launch" />
      </div>
    </div>
  </section>
  -->
</DefaultLayout>
